.popup {
  width: 300px;
  height: 386px;
  background-color: #1B1B1B;
  border-radius: 15px 15px 15px 15px;
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-btn:hover {
  background-color: rgba(218, 164, 3, 0.2);
  border-radius: 38px;
  cursor:pointer;
}
.close-btn img {
  width: 28px;
  height: 28px;
}

.install-desc {
  width: 60%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.177778px;

  color: #FFFFFF;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.item img {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
.item div {
  width: 60%;
  color: white;
}

.install-btn {
  width: 238px;
  height: 53px;
  left: 336px;
  top: 219px;
  margin-top: 36px;

  background: #FFCE3E;
  box-shadow: inset 0px -5px 0px #D19E07;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.install-btn:hover {
  cursor:pointer;
}
.install-font {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.177778px;
  color: #000000;
}