.popup {
  display: flex;
  flex-direction: row;
  background-color: #1B1B1B;
  width: 608px;
  height: 366px;
  border-radius: 15px 15px 15px 15px;
  position: relative;
}
.close-btn {
  position: absolute;
  right: 4.93%;
  top: 8.2%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-btn:hover {
  background-color: rgba(218, 164, 3, 0.2);
  border-radius: 24px;
  cursor:pointer;
}
.close-btn img {
  width: 18px;
  height: 18px;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #252525;
  box-shadow: 9px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px 0px 0px 15px;
  align-items: center;
  justify-content: space-around;
  padding: 10% 15px;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item img {
  width: 48px;
  height: 48px;
  margin-right: 13px;
}
.item div {
  color: white;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1B1B1B;
  box-shadow: 9px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 0px 15px 15px 0px;
}
.install-desc {
  align-self: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: -0.177778px;
  width: 78.6%;

  color: #FFFFFF;
}
.install-btn {
  width: 238px;
  height: 53px;
  left: 336px;
  top: 219px;
  margin-top: 36px;

  background: #FFCE3E;
  box-shadow: inset 0px -5px 0px #D19E07;
  border-radius: 7px;
}
.install-btn:hover {
  cursor:pointer;
}
.install-font {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.177778px;
  color: #000000;
}